@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>



<h3>API Request Exceed</h3>

<p>
    <strong>Only 10 requests per minute is allowed by the API.</strong>
    Wait for a few moments before reloading the page.
</p>
