@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<div id="greeting">
    <!-- Modify this part of the HTML -->
    {{name}}
</div>
<script>
    var vm = new Vue({
      el: '#greeting',
      data: {
        name: "Vue"
      }
    });
</script>
